@media (max-width: 767px) {
	// header -------------------------/
	.header {
		&__triangle-bg {
			display: none;
		}
	}
	// nav ----------------------------/
	.nav--closed {
		.nav__item {
			display: none;
		}
		.nav__item--current {
			display: block;
			.nav__link {
				padding: 12px 70px;

				text-align: center;
			}
		}
		.user-list__item {
			display: none;
		}
	}
	.nav--opened {
		.nav__wrapper {
			position: absolute;
			top: 0;
			right: 0;
			left: 70px;
			z-index: 10;

			background-color: #6a4d38;
			&::before {
				content: "";

				position: absolute;
				top: 0;
				left: 0;

				z-index: 2;

				width: 7px;
				height: 100%;

				box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
			}
		}		
	}
	.nav--nojs {
		.nav__burger-btn {
			display: none;
		}
		.nav__wrapper {
			position: static;
			&::before {
				display: none;
			}
		}
		.nav__item {
			display: block;
		}
		.nav__item--current {
			.nav__link {
				padding: 12px 21px;

				text-align: left;
			}
		}
		.user-list__item {
			display: block;
		}
	}

	// footer -------------------------/
	.footer {
		&__tel {
			&:hover {
				border-color: #545454;
			}
			&:active {
				background-color: #252525;
				.footer__tel-num {
					opacity: 0.3;
				}
			}
		}
	}

	// page ---------------------------/
	.page {
		&__to-main-btn {
			display: none;
		}
	}

	// price-list ---------------------/
	.price-list {
		&__cell--num {
			display: none;
		}
		&__cell--wash {
			display: none;
		}
	}
}


@media (min-width: 321px) {
	// social-networks ----------------/
	.social-networks {
		&__link {
			border: 1px solid $dark-border;
		}
	}
}


@media (min-width: 480px) {
	// nav ----------------------------/
	.nav {
		&__link {
			text-align: center;
		}
	}

	// statistics ---------------------/
	.statistics {
		&__value {
			padding: 20px 0 20px 100px;
		}
		&__descr {
			padding: 20px 100px 20px 0;
		}
	}
}


@media (min-width: 768px) {
	body {
		background-color: #353535;
	}

	// title --------------------------/
	.title {
		font-size: 40px;
		line-height: 40px;
	}

	// header -------------------------/
	.header {
		display: flex;
		flex-direction: column;

		background-color: #000;
	}

	// logo ---------------------------/
	.logo {
		padding: 40px 0 0;
		min-height: 400px;

		order: 2;

		background-color: #000;
		background-image: url(../images/back-tablet.jpg);
		background-repeat: no-repeat;
		background-position: center 0;
		@media (min-resolution: 144dpi),
				 (min-resolution: 1.5dppx) {
					 background-image: url(../images/back-tablet@2x.jpg);
					 background-size: 1200px auto;
				 }
		&__img {
			width: 370px;
			height: auto;
		}
	}
	.logo--page {
		min-height: auto;

		background-size: cover;
		background-position: center -72px;
		.logo__img {
			margin: 0 auto 43px;
		}
	}

	// nav ----------------------------/
	.nav {
		width: auto;
		max-width: 100%;
		margin: 0;

		background-color: #000;
		&__burger-btn {
			display: none;
		}
		&__wrapper {
			display: flex;
			justify-content: space-between;

			width: 640px;
			margin: 0 auto;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			width: 570px;
		}
		&__item {
			margin-right: 32px;
			&:last-child {
				margin: 0;
			}
		}
		&__item--current {
			position: relative;
			&::after {
				content: '';

				position: absolute;
				bottom: -2px;
				left: 0;
				right: 0;

				height: 3px;

				background-color: #826550;
			}
		}
		&__link {
			padding: 25px 0 23px;
			border: none;

			background-color: transparent;
		}
		&__link[href] {	
			&:hover{
				color: #826550;

				background-color: transparent;
			}
			&:active{
				color: rgba(255, 255, 255, 0.3);

				background-color: transparent;
			}
		}		
	}

	// user-list ----------------------/
	.user-list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		width: 60px;

		background-color: #000;
		&__link {
			font-size: 0;

			width: 60px;
			padding: 25px 0 23px;

			background-color: transparent;
			&:hover {
				.user-list__icon {
					opacity: 1;
					fill: #826550;
				}
			}
			&:active {
				.user-list__icon {
					opacity: 0.3;
					fill: #fff;
				}
			}
		}
		&__icon--login {
			left: 12px;
		}
	}

	// statistics ---------------------/
	.statistics {
		width: 640px;
		max-width: 100%;
		margin-top: -185px;
		&__header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 28px 82px 28px 40px;

			position: relative;
			&::before {
				position: absolute;
				top: 42px;
				left: -22px;

				content: '';

				border: 11px solid #fff;
				border-left-color: transparent;
				border-bottom-color: transparent;
			}
		}
		&__slogan {
			width: 225px;
			margin-bottom: 18px;

			font-size: 40px;
			line-height: 40px;
			text-transform: none;
			text-align: left;
		}
		&__text {
			width: 210px;
			margin-top: 5px;

			text-align: left;
		}
		&__legend--top {
			display: block;
			padding: 11px 0 0 0;

			color: rgba(0, 0, 0, 0.3);
		}
		&__legend--bottom {
			display: none;
		}
		&__table {
			tbody {
				display: flex;
				flex-wrap: wrap;
			}
		}
		&__item {
			width: 50%;
			padding: 25px 32px;
		}
		&__value {
			display: block;
			width: auto;
			padding: 0;
			margin-bottom: 7px;

			font-size: 72px;
			line-height: 72px;
		}
		&__descr {
			display: block;
			width: auto;
			padding: 0;

			font-size: 20px;
			line-height: 27px;
			text-align: left;
			br {
				display: none;
			}
		}
	}

	// advantages ---------------------/
	.advantages {
		&__slider {
			padding: 0 95px;
		}
		&__item {
			padding: 0 0 37px 130px;
			margin: 0 0 42px;

			border-bottom: 1px solid #4a4a4a;
			&:last-child {
				padding: 0 0 0 130px;
				margin: 0 0 42px;

				border: none;
			}
			&::before {
				top: 50%;
				left: 0;
	
				transform: translate(0,-50%);
			}
		}
		&__item-title {
			font-size: 30px;
			text-align: left;
		}
		&__item-text {
			padding: 0;
			margin: 0;

			text-align: left;
		}
		&__triangle-bg {
			height: 55px;
		}
	}

	// news ---------------------------/
	.news {
		padding: 40px 64px 20px;

		position: relative;
		&__title {
			text-align: left;

			margin: 0 0 56px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			width: 50%;
			padding: 0;
			border: none;
		}
		&__text {
			padding: 0 40px 0 20px;
		}
		&__btn {
			position: absolute;
			top: 35px;
			right: 64px;

			margin: 0;
		}	
	}

	// reviews ------------------------/
	.reviews {
		padding: 46px 64px 70px;
		&__head {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
		&__title {
			margin: 0 0 42px;

			text-align: left;
		}
		&__write {
			display: block;
			margin-top: -5px;
		}
		&__list {
			padding: 36px 80px;

			border: 1px solid $dark-grey;
		}
		.reviews__item {
			padding: 0;
		}
		&__author-photo {
			margin: 5px 29px 0 0;
		}
		&__img {
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}
		&__triangle {
			display: none;
		}
		.slick-arrow {
			position: absolute;
			top: 0;

			width: 50px;
			height: 100%;
			padding: 0;
			border: 1px solid $dark-grey;
			border-top: none;
			border-bottom: none;

			background-color: transparent;
			&::before {
				content: '';

				width: 12px;
				height: 12px;

				position: absolute;
				top: 50%;
			}
		}
		.slick-prev {
			left: 0;

			border-left: none;
			&::before {
				left: 50%;

				transform: translate(-50%, -50%);

				background-image: url(../images/icons/prev-arrow.svg);
			}
		}
		.slick-next {
			right: 0;

			border-right: none;
			&::before {
				right: 50%;

				transform: translate(50%, -50%);

				background-image: url(../images/icons/next-arrow.svg);
			}
		}
		.slick-dots {
			position: absolute;
			left: 50%;
			bottom: -20px;

			max-width: 125px;
			margin: 0;
			padding: 0 24px 15px;
			transform: translateX(-50%);

			background-color: $grey-bg;
		}
	}

	// footer -------------------------/
	.footer {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			padding: 50px 64px 60px;
	
			text-align: left;
		}
		&__info {
			width: 50%;
			margin: 0 0 48px;
			padding: 0;
		}
		&__title {
			text-transform: uppercase;
		}
		&__address {
			margin: 0 0 2px;
		}
		&__tel {
			max-width: 100%;
			margin: 0;
			padding: 0;
			border: none;

			font-weight: 400;
			text-align: left;
			&-label {
				display: inline-block;

				text-transform: none;
			}
		}
		&__social-networks {
			width: 100%;
			order: 3;
		}
		&__copy {
			padding: 0;
		}
	}

	// social-networks ----------------/
	.social-networks {
		max-width: 800px;
		margin: 0 auto;
		&__list {
			max-width: 100%;
		}
		&__item {
			width: 33%;
		}
		&__link {
			width: 100%;
		}
	}


	// страница с работами ======================/
	// header -------------------------/
	.header {
		&__triangle-bg {
			height: 55px;
		}
	}

	// page ---------------------------/
	.page {
		&__head {
			position: relative;

			box-shadow: 0 -2px 0 0 $grey-bg;
		}
		&__head-inner {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 56px 64px 38px;
		}
		&__title {
			padding: 0;

			font-size: 40px;
			line-height: 40px;
		}
	}

	// works -----------------------------/
	.works {
		&__inner {
			padding: 0 64px 20px;
		}
		&__item {
			display: flex;
			margin: 0 0 40px;
			border: 1px solid $dark-grey;
		}
		&__img {
			width: 270px;
		}
		&__of-the-month {
			top: 35px;
			bottom: auto;
		}
		&__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 1;
			padding: 45px 50px 22px;
			border: none;
		}
		&__triangle-bg {
			height: 55px;
		}
	}

	// price-list ---------------------/
	.price-list {
		&__inner {
			padding: 0 64px 55px;
		}
		&__title {
			margin: 0 0 50px;

			text-align: left;
		}
		&__table {
			max-width: 640px;
			margin: 0 auto 10px;
			border-collapse: collapse;
		}
		&__cell {
			padding: 0 20px;
			border: 1px solid #505050;

			vertical-align: middle;
		}
		&__cell--num {
			padding: 15px 17px;
			opacity: 0.3;

			text-align: center;
		}
		&__cell--style {
			font-weight: 700;
			span {
				display: none;
			}
		}
		&__cell--val {
			text-align: left;
		}
		&__sale {
			max-width: 640px;

			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase;
			br {
				display: none;
			}
			&-descr {
				padding: 42px 0 42px 183px;

				background-position: 26px 50%;
				background-size: 71px 70px;
			}
		}
		&__triangle-bg {
			display: none;
		}
	}



	// страница для записи ======================/
	// page ---------------------------/
	.page {
		&__head-inner--form {
			padding: 56px 64px 67px;
		}
	}

	// form ---------------------------/
	.form {
		form {
			padding: 0 64px 76px;
		}
		&__fieldset--FIO {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 29px;
		}
		&__inp--FIO {
			width: auto;
			flex-grow: 1;
			&:first-child {
				border-left: none;
				border-right: none;
			}
			&:nth-child(2) {
				order: -1;
			}
		}
		&__inp {
			padding: 19px 26px;

			font-size: 24px;
			&::placeholder {
				font-size: 24px;
			}
		}
		&__fieldset--contacts {
			margin: 0;
		}
		&__inp--contacts {
			margin: 0 0 35px;
		}
		&__inp--textarea {
			height: 211px;
			margin: 0 0 54px;
		}
		&__title {
			display: flex;
			align-items: center;
			margin: 0 0 45px;

			font-size: 30px;
			line-height: 30px;
			&::before,
			&::after {
				content: '';

				width: 50px;
				height: 1px;
				background-color: $dark-grey;
				flex-shrink: 0;
				flex-grow: 1;
			}
			&::before {
				margin-right: 25px;
			}
			&::after {
				margin-left: 25px;
			}
		}
		&__title--checkbox {
			margin: 0 0 68px;
		}
		&__wrapper {
			padding: 0 15px 30px;
		}
		&__labels-wrapper--radio {
			margin: 0 0 0 -66px;
		}
		&__label-text {
			font-size: 24px;
		}
		&__label--radio {
			margin: 0 0 30px 66px;
		}
		&__label--checkbox {
			margin: 0 0 47px 65px;
		}
		&__submit-btn {
			margin: 12px 0 0;
			padding: 22px 30px;
		}
		&__triangle-bg {
			display: none;
		}
	}
}


@media (min-width: 1200px) {
	// logo ---------------------------/
	.logo {
		padding: 57px 0 0;
		min-height: 649px;

		background-size: cover;
	}
	.logo--page {
		min-height: 320px;

		background-position: center center;
		.logo__img {
			margin: 0 auto 34px;
		}
	}

	// nav ----------------------------/
	.nav {
		&__wrapper {
			width: 960px;
		}
		&__list {
			width: 780px;
		}
		&__item {
			margin: 0;
		}
		&__item--current {
			&::after {
				left: 31px;
				right: 31px;
			}
		}
		&__link {
			padding: 25px 31px 23px 31px;
		}
		&__link[href] {	
			&:hover{
				color: #000;

				background-color: #fff;
			}
			&:active{
				color: rgba(0, 0, 0, 0.3);

				background-color: #fff;
			}
		}		
	}

	// user-list ----------------------/
	.user-list {
		max-width: 160px;
		width: auto;
		&__link {
			width: auto;
			padding: 25px 21px 23px 62px;

			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			&:hover {
				color: #000;

				background-color: #fff;
				.user-list__icon {
					opacity: 0.3;
					fill: #000;
				}
			}
			&:active {
				color: rgba(0, 0, 0, 0.3);

				background-color: #fff;
				.user-list__icon {
					opacity: 0.1;
					fill: #000;
				}
			}			
		}
		&__icon--login {
			left: 27px;
		}
	}

	// statistics ---------------------/
	.statistics {
		display: flex;
		width: 960px;
		margin-top: -160px;
		&__header {
			display: block;
			flex-shrink: 0;
			width: 320px;
			padding: 28px 50px 28px 40px;
			&::before {
				top: 37px;
			}
		}
		&__slogan {
			width: auto;
			margin-bottom: 42px;
		}
		&__text {
			width: auto;
			padding-right: 20px;
			margin: 0 0 32px;
		}
		&__table {
			display: flex;
			width: 640px;
		}
	}

	// advantages ------------------------/
	.advantages {
		padding: 80px 0 0;
		&__slider {
			padding: 0 120px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			width: 33%;
			padding: 130px 38px 0;
			margin: 0 0 20px;
			border: none;
			&:last-child {
				padding: 130px 38px 0;
				margin: 0 0 20px;
			}
			&::before {
				top: 0;
				left: 50%;

				transform: translateX(-50%);
			}
		}
		&__item-title {
			text-align: center;
		}
		&__item-text {
			text-align: center;
		}
		&__triangle-bg {
			margin-top: 20px;
		}
	}

	// news ---------------------------/
	.news {
		padding: 50px 120px 22px;
		&__title {
			padding: 0 0 0 70px;
		}
		&__item {
			width: 33%;
			margin: 0 0 20px;
			&:nth-child(3) {
				display: flex;
			}
		}
		&__btn {
			top: 45px;
			right: 120px;
		}
	}

	// reviews ------------------------/
	.reviews {
		padding: 46px 120px 98px;
		&__title {
			padding: 0 0 0 70px;
		}
		&__slider {
			max-width: 820px;
			margin: 0 auto;
		}
		.slick-prev {
			left: -70px;

			border: 1px solid $dark-grey;
			
		}
		.slick-next {
			right: -70px;

			border: 1px solid $dark-grey;
		}
		.slick-dots {
			bottom: -67px;
		}
	}

	// footer -------------------------/
	.footer {
		&__inner {
			justify-content: flex-start;
			padding: 50px 120px 60px;
		}
		&__info {
			width: auto;
			margin: 0 86px 0 0;
		}
		&__social-networks {
			width: auto;
			max-width: 162px;
			margin: 0;
			order: 0;
		}
		&__copy {
			margin-left: auto;
		}
	}

	// social-networks ----------------/
	.social-networks {
		&__slogan {
			display: block;
			margin: 0 0 10px;

			font-weight: 400;
			text-align: center;
		}
		&__list {
			justify-content: flex-start;
			max-width: max-content;
			margin-left: -6px;
		}
		&__item {
			width: auto;
			margin: 0 0 5px 6px;
		}
		&__link {
			width: 50px;
			height: 50px;
		}
		&__link--vk {
			&::before {
				width: 15px;
				height: 17px;
			}
		}
		&__link--fb {
			&::before {
				width: 10px;
				height: 21px;
			}
		}
		&__link--inst {
			&::before {
				width: 19px;
				height: 19px;
			}
		}
	}


	// страница с работами ======================/
	// header -------------------------/
	.header {
		&__triangle-bg {
			height: 75px;
		}
	}

	// page ---------------------------/
	.page {
		&__head-inner {
			padding: 56px 120px 78px;
		}
	}

	// works --------------------------/
	.works {
		&__inner {
			padding: 0 120px 44px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 0 -40px;
		}
		&__item {
			width: 294px;
			height: 545px;
			flex-direction: column;
			margin: 0 0 44px 39px;
			&:first-child {
				width: 100%;
				height: auto;
				flex-direction: row;
				margin: 0 0 40px 39px;

				position: relative;
				.works__img {
					width: 480px;
					max-height: 480px;
				}
				.works__info {
					padding: 128px 50px 17px;
				}
			}
		}
		&__photo {
			position: static;
		}
		&__img {
			width: 292px;
			max-height: 292px;
		}
		&__of-the-month {
			left: auto;
			right: 0;
			&::after {
				right: auto;
				left: -10px;
				border: 25px solid #816550;
				border-left: 10px solid transparent;
			}
		}
		&__info {
			padding: 32px 33px 22px;
		}
		&__review {
			max-width: 300px;
		}
		&__icons-list {
			max-width: 100%;
			margin: 0px 0 0 -24px;
		}
		&__icon {
			margin: 0 0 15px 24px;
		}
		&__triangle-bg {
			display: none;
		}
	}

	// price-list ---------------------/
	.price-list {
		padding: 75px 0 0;
		&__inner {
			padding: 0 120px 56px;
		}
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
		}
		&__table {
			margin: 0;
		}
		&__sale {
			width: 270px;
			margin: 0 0 0 auto;
			padding: 35px 58px 0;

			font-size: 20px;
			line-height: 27px;
			text-transform: none;
			text-align: center;
			&-descr {
				padding: 170px 0 0;

				background-position: center 0;
				background-size: 142px 139px;
			}
		}
	}



	// страница с записью =======================/
	// form ---------------------------/
	.form {
		form {
			padding: 0 120px 76px;
		}
		&__fieldset--FIO {
			margin: 0 0 29px -37px;
		}
		&__inp--FIO {
			margin: 0 0 6px 37px;
			&:first-child {
				border: 1px solid #e5ddd5;
				&:focus,
				&:active {
					border-color: #999999;
				}
			}
		}
		&__fieldset--contacts {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 0 -37px;
		}
		&__inp--contacts {
			width: auto;
			flex-grow: 1;
			margin: 0 0 35px 37px;
		}
		&__inp--textarea {
			margin: 0 0 70px;
		}
		&__title {
			margin: 0 0 50px;
			&::before {
				margin-right: 44px;
			}
			&::after {
				margin-left: 47px;
			}
		}
		&__title--checkbox {
			margin: 0 0 68px;
		}
		&__labels-wrapper--radio {
			margin: 0 0 0 -146px;
		}
		&__label--radio {
			margin: 0 0 30px 146px;
		}
		&__submit-btn {
			margin: 32px 0 0;
		}
	}
}