@import 'vars';
@import 'global';
@import 'fonts';

// header ----------------------------/



// logo ------------------------------/
.logo {
	display: block;
	padding: 27.5px 0;
	&__img {
		display: block;
		width: 226px;
		height: 30px;
		margin: 0 auto;
	}
}

// nav -------------------------------/
.nav {
	// max-width: 500px;
	min-height: 50px;
	margin: 0 auto;

	position: relative;

	background-color: #826550;
	&__burger-btn {
		position: absolute;
		top: 0;
		right: 0;

		display: block;
		width: 70px;
		height: 50px;
		padding: 0;
		border: none;

		background-color: #6a4d38;
		cursor: pointer;
		&:hover,
		&:active {
			background-color: #624530;
		}
	}
	&__list {
		@include reset-ul;

		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__link {
		display: block;
		padding: 12px 21px;
		border-top: 1px solid #886e5b;
		border-bottom: 1px solid #71543f;
		
		text-decoration: none;
		color: #fff;		

		background-color: #826550;
	}
	&__link[href] {	
		&:hover{
			border-bottom-color: transparent;
			background-color: #755a46;
		}
		&:active{
			color: rgba(255, 255, 255, 0.3);
			border-top-color: transparent;
			background-color: #6a4d38;
		}
	}
}
.nav--closed .nav__burger-btn {
	&::before {
		content: "";

		position: absolute;
		top: 15px;
		left: 17px;

		width: 36px;
		height: 2px;

		background-color: #ffffff;
		box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
	}
	&:active::before {
		background-color: rgba(255, 255, 255, 0.3);
		box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
	}
}
.nav--opened .nav__burger-btn {
	top: 0;
	right: auto;
	left: 0;
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 24px;
		left: 18px;
		width: 36px;
		height: 2px;
		background-color: #ffffff;
	}
	&::before {
		transform: rotate(45deg);
	}
	&::after {
		transform: rotate(-45deg);	
	}
	&:active::before,
	&:active::after {
		background-color: rgba(255, 255, 255, 0.3);
	}
 }

// user-list -------------------------/
.user-list {
	@include reset-ul;
	line-height: 24px;

	background-color: #6a4d38;
	&__link {
		display: block;
		padding: 13px 21px 13px 48px;

		position: relative;

		color: #fff;
		text-decoration: none;

		background-color: #6a4d38;
	}
	&__icon--login {
		position: absolute;

		width: 16px;
		height: 16px;

		top: 50%;
		left: 21px;
		transform: translateY(-50%);

		opacity: 0.3;
	}
}

// title -----------------------------/
.title {
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}

// statistics ------------------------/
.statistics {
	// max-width: 500px;
	margin: 0 auto;
	&__header {
		padding: 28px 40px;

		background-color: #fff;
	}
	&__slogan {
		display: block;
		margin-bottom: 15px;
	}
	&__text {
		margin: 0;

		text-align: center;
	}
	&__legend {
		display: block;
		padding: 20px 0 15px;

		font-size: 20px;
		line-height: 20px;
	}
	&__legend--bottom {	
		padding: 20px 0 0;

		text-align: center;
		color: rgba(255, 255, 255, 0.3);

		background-color: $dark;
	}
	&__legend--top {
		display: none;
	}	
	&__table {
		width: 100%;

		border-collapse: collapse;
		background-color: #404040;
	}
	&__item--price {
		background-color: #404040;
	}
	&__item--time {
		background-color: #4e4e4e;
	}
	&__item--hair {
		background-color: #353535;
	}
	&__item--likes {
		background-color: #404040;
	}
	&__value {
		width: 55%;
		padding: 20px 0 20px 20px;

		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		color: #fff;
		sup {
			top: -0.35em;
			left: -3px;
		}
	}
	&__descr {
		width: 45%;
		padding: 20px 20px 20px 0;

		font-size: 18px;
		line-height: 18px;
		text-align: right;
		color: #f7f4f1;
	}
}

// slider ----------------------------/
.slick-dots {
	@include reset-ul;

	display: flex;
	flex-wrap: wrap;
	max-width: 72px;
	margin: 0 auto 12px;
	li {
		width: 8px;
		height: 8px;
		margin: 15px 23px 0 0;
		&:nth-child(3n) {
			margin: 15px 0 0;
		}
		button {
			display: block;
			width: 8px;
			height: 8px;
			padding: 0;
			border: 2px solid #fff;
			transform: rotate(45deg);

			font-size: 0;

			background-color: transparent;
			outline: none;
		}
		&.slick-active {
			button {
				background-color: #fff;
			}
		}

	}
}
.slick-arrow {
	cursor: pointer;
}

// advantages ------------------------/
.advantages {
	max-width: 1200px;
	margin: 0 auto;
	padding: 44px 0 0;
	&__list {
		@include reset-ul;
	}
	&__item {
		padding: 130px 0 0;

		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;

			transform: translateX(-50%);

			background-repeat: no-repeat;
		}
	}
	&__item--fast {
		&::before {
			width: 95px;
			height: 94px;

			background-image: url(../images/icons/advantages-icon-1.svg);
		}
	}
	&__item--cool {
		&::before {
			width: 95px;
			height: 88px;

			background-image: url(../images/icons/advantages-icon-2.svg);
		}
	}
	&__item--expensive {
		&::before {
			width: 95px;
			height: 91px;

			background-image: url(../images/icons/advantages-icon-3.svg);
		}
	}
	&__item-title {
		margin: 0 0 20px;

		color: #f7f4f1;
	}
	&__item-text {
		margin: 0 0 15px;
		padding: 0 39px;

		color: #f7f4f1;
		text-align: center;
	}
}

// news ------------------------------/
.news {
	max-width: 1200px;
	margin: 0 auto;
	padding: 32px 20px 28px;

	background-color: $grey-bg;

	box-shadow: 0 -2px 0px 0 $grey-bg;
	position: relative;
	z-index: 2;

	&__title {
		margin: 0 0 29px;
	}
	&__list {
		@include reset-ul;
	}
	&__item {
		display: flex;
		align-items: flex-start;
		padding: 0 0 12px;
		margin: 0 0 14px;
		border-bottom: 1px solid $dark-grey;

		cursor: pointer;
		&:nth-child(2) {
			padding: 0;
			border: none;
		}
		&:nth-child(3) {
			display: none;
		}
		&:hover {
			.news__date {
				background-color: #826550;
			}
			.news__text {
				color: #826550;
				text-decoration: underline;
			}
		}
		&:active {
			.news__date {
				background-color: #6a4d38;
			}
			.news__day,
			.news__month {
				opacity: 0.3;
			}
			.news__text {
				color: #6a4d38;
			}
		}
	}
	&__date {
		display: block;
		min-width: 53px;
		max-width: max-content;
		margin: 10px 0 0;
		padding: 6px 0 0;

		line-height: 30px;
		color: #fff;
		text-align: center;

		background-color: #000;
	}
	&__day {
		display: block;

		font-size: 30px;
		font-weight: 700;
	}
	&__month {
		display: block;

		font-size: 16px;
		line-height: 16px;
	}
	&__triangle-bg {
		display: block;
		margin: 0 -2px -2px -2px;
	}
	&__text {
		margin: 0;
		padding: 0 0 0 20px;

		font-size: 18px;
	}
	&__btn {
		display: block;
		max-width: 320px;
		margin: 0 auto;
		border-color: #e5ddd5;
	}
}

// reviews ---------------------------/
.reviews {
	max-width: 1200px;
	margin: 0 auto;
	padding: 26px 0 0;
	border-top: 1px solid $dark-grey;

	background-color: $grey-bg;
	&__title {
		margin: 0 0 25px;
	}
	&__write {
		display: none;
	}
	&__list {
		@include reset-ul;
	}
	.reviews__item {
		display: flex;
		align-items: flex-start;
		padding: 0 20px;
	}
	&__author-photo {
		margin: 10px 20px 0 0;
	}
	&__img {
		object-fit: cover;
	}
	&__name {
		display: block;
		margin: 0 0 7px;

		font-size: 24px;
		font-weight: 700;
		color: #000;
	}
	&__text {
		margin: 0;
		padding: 0 20px 0 0;

		font-size: 18px;
		color: #000;
	}
	.slick-dots {
		margin: 10px auto 18px;
		button {
			border-color: $dark;
		}
	}
	li.slick-active {
		button {
			background-color: #000;
		}
	}
}

// footer ----------------------------/
.footer {
	position: relative;
	
	background-color: #292929;
	box-shadow: 0 -2px 0px 0 #292929;
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		padding: 30px 0 24px;
	
		
		font-size: 18px;
		color: #fff;
		text-align: center;
	}
	&__info {
		padding: 0 20px;
	}
	&__title {
		margin: 0 0 9px;

		font-size: 18px;
		font-weight: 700;
	}
	&__address {
		margin: 0 0 15px;
	}
	&__tel {
		display: block;
		max-width: 320px;
		margin: 0 auto 26px;
		border-color: $dark-border;

		font-weight: 700;
		color: #fff;
		text-decoration: none;
		&:hover,
		&:active {
			background-color: transparent;
		}
		&-label {
			display: none;
		}
	}
}

// social-networks -------------------/
.social-networks {
	// max-width: 500px;
	margin: 0 auto 26px;
	&__slogan {
		display: none;
	}
	&__list {
		@include reset-ul;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 320px;
		margin: 0 auto;
	}
	&__link {
		display: block;
		width: 106px;
		height: 101px;
		border: 1px solid $dark-border;

		position: relative;

		text-decoration: none;
		color: #fff;
		&::before {
			content: '';

			position: absolute;

			top: 50%;
			left: 50%;

			transform: translate(-50%, -50%);

			background-repeat: no-repeat;
			background-size: cover;
		}
		&:hover {
			border-color: #545454;
		}
		&:active {
			background-color: #252525;
			&::before {
				opacity: 0.3;
			}
		}
	}
	&__link--vk {
		border-left: none;
		&::before {
			width: 23px;
			height: 26px;

			background-image: url(../images/icons/vk-icon-big.png);
		}
	}
	&__link--fb {
		&::before {
			width: 18px;
			height: 39px;

			background-image: url(../images/icons/facebook-icon-big.png);
		}
	}
	&__link--inst {
		border-right: none;
		&::before {
			width: 36px;
			height: 36px;

			background-image: url(../images/icons/insta-icon-big.png);
		}
	}
}

// copy ------------------------------/
.copy {
	padding: 0 20px;
	&__title {
		display: block;
		margin: 0 0 10px;

		font-weight: 400;
		text-align: center;
	}
	&__link {
		display: block;
		max-width: 320px;
		margin: 0 auto;
		
		color: #fff;

		border-color: $dark-border;
		&:hover {
			border-color: #545454;
		}
		&:active {
			background-color: #252525;
			.copy__link-inner {
				opacity: 0.3;
			}
		}
	}
}



// страница с работами =========================/
.page {
	&__head {
		background-color: $grey-bg;
	}
	&__head-inner {
		max-width: 1200px;
		padding: 0 20px;
		margin: 0 auto;
	}
	&__title {
		margin: 0;
		padding: 30px 0;

		font-size: 30px;
		line-height: 30px;
		color: #000;
		text-align: center;
		text-transform: uppercase;
	}
}

// works -----------------------------/
.works {
	background-color: $grey-bg;

	box-shadow: 0 -2px 0 0 $grey-bg;
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px 13px;
	}
	&__list {
		@include reset-ul;
	}
	&__item {
		margin: 0 0 20px;
	}
	&__photo {
		position: relative;
	}
	&__of-the-month {
		padding: 12px 25px;

		position: absolute;
		left: 0;
		bottom: 30px;

		font-weight: 700;
		color: #fff;
		text-transform: uppercase;

		background-color: #816550;
		&::after {
			content: '';

			position: absolute;
			top: 0;
			bottom: 0;
			border: 25px solid #816550;
			border-right: 10px solid transparent;
		}
	}
	&__img {
		display: block;
		width: 280px;
		max-height: 480px;
		object-fit: cover;
	}
	&__info {
		padding: 22px 35px 5px 22px;
		border: 1px solid $dark-grey;
	}
	&__name {
		margin: 0 0 16px;

		font-size: 24px;
		font-weight: 700;
	}
	&__review {
		margin: 0 0 18px;

		font-size: 18px;
	}
	&__icons-list {
		@include reset-ul;

		display: flex;
		flex-wrap: wrap;
		max-width: 269px;
		margin: 0 0 0 -36px;
	}
	&__icon {
		position: relative;
		margin: 0 0 15px 36px;

		font-size: 16px;
		text-transform: uppercase;
		&::before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;

			transform: translateY(-50%);

			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__icon--haircut {
		padding-left: 36px;
		&::before {
			width: 21px;
			height: 20px;

			background-image: url(../images/icons/scissors.svg);
		}
	}
	&__icon--shaving {
		padding-left: 44px;
		&::before {
			width: 23px;
			height: 21px;

			background-image: url(../images/icons/beard.svg);
		}
	}
	&__icon--mustache {
		padding-left: 58px;
		&::before {
			width: 45px;
			height: 12px;

			background-image: url(../images/icons/mustache.svg);
		}
	}
}

// price-list ------------------------/
.price-list {
	padding: 30px 0 0;

	background-color: #353535;
	box-shadow: 0 -2px 0 0 #353535;
	&__inner {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px 18px;
	}
	&__title {
		margin: 0 0 26px;

		color: #fff;
	}
	&__table {
		width: 100%;
		max-width: 400px;
		margin: 0 auto 28px;

		color: #fff;
	}
	&__cell {
		vertical-align: top;
	}
	&__cell--style {
		padding: 0 0 18px;
		span {
			display: block;
		}
	}
	&__cell--val {
		text-align: right;
	}
	&__sale {
		max-width: 280px;
		margin: 0 auto;
		border: 1px solid #505050;

		color: #fff;
		&-descr {
			margin: 0;
			padding: 20px 0 20px 113px;

			background-image: url(../images/icons/clock.svg);
			background-repeat: no-repeat;
			background-position: 20px 50%;
			background-size: 56px 56px;
		}
	}
}



// страница для записи =========================/
.form {
	background-color: $grey-bg;

	position: relative;

	box-shadow: 0 -2px 0 0 $grey-bg;
	form {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 20px;
	}
	&__fieldset--FIO {
		margin: 0 0 26px;
	}
	&__fieldset--contacts {
		margin: 0 0 26px;
	}
	&__inp {
		width: 100%;
		margin: 0 0 6px;
		padding: 9px 20px;
		border: 1px solid $dark-grey;

		font-size: 18px;
		line-height: 30px;
		color: #000;

		background-color: #fff;
		&::placeholder {
			font-size: 18px;
			line-height: 30px;
			color: #000;
		}
		&:focus,
		&:active {
			border-color: #999999;
			outline: none;
		}
	}
	&__inp--textarea {
		height: 112px;
		margin: 0 0 40px;
		resize: none;
	}
	&__title {
		margin: 0 0 37px;

		text-align: center;
		text-transform: uppercase;
	}
	&__wrapper {
		max-width: max-content;
		margin: 0 auto;
		padding: 0 15px 14px;
	}
	&__labels-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&__labels-wrapper--radio {
		margin: 0 0 0 -34px;
	}
	&__label--radio {
		min-width: 60px;
		margin: 0 0 30px 34px;
		padding: 0 0 90px;

		text-align: center;

		background-repeat: no-repeat;
		background-position: 50% 105px;
	}
	&__radio-indicator {
		display: block;
		width: 50px;
		height: 50px;
		margin: 0 auto 15px;
		border: 1px solid $dark-grey;
		border-radius: 50%;

		background-color: #fff;
		cursor: pointer;
		&:hover {
			border: 1px solid #d5c9bd;
		}
		&:active {
			box-shadow:inset 0 0 0 16px $dark-grey;
		}
	}
	&__radio {
		&:checked {
			& + .form__radio-indicator {
				box-shadow: inset 0 0 0 15px #ffffff, inset 0 0 0 16px $dark-grey;
			}
		}
		&:focus {
			& + .form__radio-indicator {
				border: 1px solid #d5c9bd;
			}
		}
		&:active {
			& + .form__radio-indicator {
				box-shadow:inset 0 0 0 16px $dark-grey;
			}
		}
	}
	&__label-text {
		font-size: 18px;
		line-height: 24px;
	}
	&__label--admiral {
		background-image: url(../images/icons/form-beard-1.svg);
	}
	&__label--lumberjack {
		background-image: url(../images/icons/form-beard-2.svg);
	}
	&__label--polar {
		background-image: url(../images/icons/form-beard-3.svg);
	}
	&__label--boyar {
		padding: 0 0 155px;

		background-image: url(../images/icons/form-beard-4.svg);
	}
	&__label--sage {
		padding: 0 0 155px;

		background-image: url(../images/icons/form-beard-5.svg);
	}
	&__labels-wrapper--checkbox {
		margin: 0 0 0 -65px;
	}
	&__label--checkbox {
		width: 260px;
		display: flex;
		align-items: center;
		margin: 0 0 20px 65px;

		cursor: pointer;
		&:active {
			.form__checkbox-indicator {
				background-color: $dark-grey;
			}
		}
	}
	&__checkbox-indicator {
		display: block;
		width: 36px;
		height: 36px;
		margin: 0 24px 0 0;
		border: 1px solid $dark-grey;

		position: relative;

		background-color: #fff;
		cursor: pointer;
		&::after {
			content: '';

			width: 22px;
			height: 16px;
			transform: translate(-50%, -50%) scale(0);

			position: absolute;
			top: 50%;
			left: 50%;

			background-image: url(../images/icons/form-checkbox.svg);
			background-repeat: no-repeat;
			background-position: center center;
			transition: transform 0.1s;
		}
		&:hover {
			border-color: #d5c9bd;
		}
		&:active {
			background-color: $dark-grey;
		}
	}
	&__checkbox {
		&:checked {
			& + .form__checkbox-indicator::after {
				transform: translate(-50%, -50%) scale(1);
			}
		}
		&:focus {
			& + .form__checkbox-indicator {
				border-color: #d5c9bd;
			}
		}
		&:active {
			& + .form__checkbox-indicator {
				background-color: $dark-grey;
			}
		}
	}
	&__submit-btn {
		display: block;
		width: 100%;
		margin: 27px auto 40px;

		color: #fff;

		background-color: #826550;
		cursor: pointer;
		&:hover {
			background-color: #6a4d38;
		}
		&:active {
			span {
				opacity: 0.3;
			}
		}
		&:focus {
			background-color: #6a4d38;
			outline: none;
		}
	}
}





























@import 'media';